doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p Petya

    h2 Holaa guapa
    p This interactive documentation illustrates the most important features of the Jade templating language. <br><br> You can play around with the examples and watch the html output in real time. <br> For more detailed explanations visit the official documentation. 
